/* Apply basic styles to the container */
.container {
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
}

/* Style the buttons */
.btn {
  margin: 5px;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #007bff; 
  color: #fff; 
  transform: scale(1.1); 
}

/* Style the Download button */
#download {
  display: block;
  margin-top: 20px;
}

/* Style the video elements */
video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

/* Center the videos in their containers */
.p-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* Style the file input and upload button */
#uploadVideo {
  display: none; 
}

.btn-upload {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-upload:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
}
