/* Apply basic styles to the container */
.container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Style the buttons */
.btn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #007bff; /* Change the background color on hover */
  color: #fff; /* Change text color on hover */
}

/* Style the Download button */
#download {
  display: inline-block;
  margin-top: 20px;
}

/* Style the video elements */
video {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow to videos */
}

/* Center the videos in their containers */
.p-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add animation to buttons on hover */
.btn {
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.1); 
}

/* Upload button */

/* Style the file input and upload button */
#uploadVideo {
  display: none; /* Hide the file input */
}

.btn-upload {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-upload:hover {
  background-color: #007bff;
  color: #fff;
}

